baithi/WebTest/src/conf/xml-resources/web-service-references/NewWebService/wsdl/localhost_43912/Test-war/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:43912/Test-war/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="findAllProducts">
<part name="parameters" element="tns:findAllProducts"/>
</message>
<message name="findAllProductsResponse">
<part name="parameters" element="tns:findAllProductsResponse"/>
</message>
<message name="sellProduct">
<part name="parameters" element="tns:sellProduct"/>
</message>
<message name="sellProductResponse">
<part name="parameters" element="tns:sellProductResponse"/>
</message>
<message name="checkProduct">
<part name="parameters" element="tns:checkProduct"/>
</message>
<message name="checkProductResponse">
<part name="parameters" element="tns:checkProductResponse"/>
</message>
<portType name="NewWebService">
<operation name="remove">
<input wsam:Action="http://service/NewWebService/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://service/NewWebService/countRequest" message="tns:count"/>
<output wsam:Action="http://service/NewWebService/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://service/NewWebService/findRequest" message="tns:find"/>
<output wsam:Action="http://service/NewWebService/findResponse" message="tns:findResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://service/NewWebService/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://service/NewWebService/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://service/NewWebService/edit" message="tns:edit"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://service/NewWebService/addProduct" message="tns:addProduct"/>
</operation>
<operation name="findAllProducts">
<input wsam:Action="http://service/NewWebService/findAllProductsRequest" message="tns:findAllProducts"/>
<output wsam:Action="http://service/NewWebService/findAllProductsResponse" message="tns:findAllProductsResponse"/>
</operation>
<operation name="sellProduct">
<input wsam:Action="http://service/NewWebService/sellProductRequest" message="tns:sellProduct"/>
<output wsam:Action="http://service/NewWebService/sellProductResponse" message="tns:sellProductResponse"/>
</operation>
<operation name="checkProduct">
<input wsam:Action="http://service/NewWebService/checkProductRequest" message="tns:checkProduct"/>
<output wsam:Action="http://service/NewWebService/checkProductResponse" message="tns:checkProductResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sellProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:43912/Test-war/NewWebService"/>
</port>
</service>
</definitions>