Assignment/WebCustormer/src/conf/xml-resources/web-service-references/UserWebService/wsdl/localhost_43912/EJBBankAssignment-war/UserWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="checkUserCs" type="tns:checkUserCs"/>

<xs:element name="checkUserCsResponse" type="tns:checkUserCsResponse"/>

<xs:element name="checkUserKh" type="tns:checkUserKh"/>

<xs:element name="checkUserKhResponse" type="tns:checkUserKhResponse"/>

<xs:element name="editUser" type="tns:editUser"/>

<xs:element name="editUserResponse" type="tns:editUserResponse"/>

<xs:element name="editUserWithId" type="tns:editUserWithId"/>

<xs:element name="editUserWithIdResponse" type="tns:editUserWithIdResponse"/>

<xs:element name="user1" type="tns:user1"/>

<xs:complexType name="editUser">
<xs:sequence>
<xs:element name="user" type="tns:user1" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user1">
<xs:sequence>
<xs:element name="codegd" type="xs:int" minOccurs="0"/>
<xs:element name="codepin" type="xs:int" minOccurs="0"/>
<xs:element name="codeuser" type="xs:int" minOccurs="0"/>
<xs:element name="moneyuser" type="xs:int" minOccurs="0"/>
<xs:element name="passgd" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="editUserWithId">
<xs:sequence>
<xs:element name="codeUser" type="xs:int"/>
<xs:element name="moneyOrder" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUserWithIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkUserCs">
<xs:sequence>
<xs:element name="codeDG" type="xs:int"/>
<xs:element name="passDG" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkUserCsResponse">
<xs:sequence>
<xs:element name="return" type="tns:user1" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkUserKh">
<xs:sequence>
<xs:element name="CodeUser" type="xs:int"/>
<xs:element name="CodePin" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkUserKhResponse">
<xs:sequence>
<xs:element name="return" type="tns:user1" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>