Assignment/WebCustormer/src/conf/xml-resources/web-service-references/OrderWebService/wsdl/localhost_43912/EJBBankAssignment-war/OrderWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="OrderWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:43912/EJBBankAssignment-war/OrderWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="getListOrderbyCustormer">
<part name="parameters" element="tns:getListOrderbyCustormer"/>
</message>
<message name="getListOrderbyCustormerResponse">
<part name="parameters" element="tns:getListOrderbyCustormerResponse"/>
</message>
<message name="getListOrderbyUser">
<part name="parameters" element="tns:getListOrderbyUser"/>
</message>
<message name="getListOrderbyUserResponse">
<part name="parameters" element="tns:getListOrderbyUserResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="calutorFee">
<part name="parameters" element="tns:calutorFee"/>
</message>
<message name="calutorFeeResponse">
<part name="parameters" element="tns:calutorFeeResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<portType name="OrderWebService">
<operation name="remove">
<input wsam:Action="http://service/OrderWebService/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://service/OrderWebService/countRequest" message="tns:count"/>
<output wsam:Action="http://service/OrderWebService/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://service/OrderWebService/findRequest" message="tns:find"/>
<output wsam:Action="http://service/OrderWebService/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://service/OrderWebService/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://service/OrderWebService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://service/OrderWebService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="getListOrderbyCustormer">
<input wsam:Action="http://service/OrderWebService/getListOrderbyCustormerRequest" message="tns:getListOrderbyCustormer"/>
<output wsam:Action="http://service/OrderWebService/getListOrderbyCustormerResponse" message="tns:getListOrderbyCustormerResponse"/>
</operation>
<operation name="getListOrderbyUser">
<input wsam:Action="http://service/OrderWebService/getListOrderbyUserRequest" message="tns:getListOrderbyUser"/>
<output wsam:Action="http://service/OrderWebService/getListOrderbyUserResponse" message="tns:getListOrderbyUserResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://service/OrderWebService/edit" message="tns:edit"/>
</operation>
<operation name="calutorFee">
<input wsam:Action="http://service/OrderWebService/calutorFeeRequest" message="tns:calutorFee"/>
<output wsam:Action="http://service/OrderWebService/calutorFeeResponse" message="tns:calutorFeeResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://service/OrderWebService/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://service/OrderWebService/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
</portType>
<binding name="OrderWebServicePortBinding" type="tns:OrderWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListOrderbyCustormer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListOrderbyUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="calutorFee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OrderWebService">
<port name="OrderWebServicePort" binding="tns:OrderWebServicePortBinding">
<soap:address location="http://localhost:43912/EJBBankAssignment-war/OrderWebService"/>
</port>
</service>
</definitions>