client1/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/EJBank-war/NewWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="CheckAccount" type="tns:CheckAccount"/>

<xs:element name="CheckAccountResponse" type="tns:CheckAccountResponse"/>

<xs:element name="Payment" type="tns:Payment"/>

<xs:element name="PaymentResponse" type="tns:PaymentResponse"/>

<xs:element name="account" type="tns:account"/>

<xs:complexType name="Payment">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="total" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PaymentResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CheckAccount">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CheckAccountResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="account">
<xs:sequence>
<xs:element name="accountid" type="xs:int" minOccurs="0"/>
<xs:element name="accountname" type="xs:string" minOccurs="0"/>
<xs:element name="balance" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>